<h1> Make a New Recipe </h1>
<form method="POST" action="/recipes">
  Name: <input type="text" name="name"><br>
  Ingredients: <input type="text" name="ingredients"><br>
  Cook Time: <input type="test" name="cook_time"><br>
  <input type="submit" value="Cook It!"><br>

</form>