<h1><%= @recipe.name %></h1>
<h2>Ingredients: <%= @recipe.ingredients %><br>
Cook Time: <%= @recipe.cook_time %> minutes</h2>
<br>
<br>
<form method="POST" action="/recipes/<%= @recipe.id %>">
    <input type="hidden" id="hidden" name="_method" value="DELETE">
    <input type="submit" id="delete" value="Delete this recipe">
</form>